name: CI

on:
  pull_request:
  push:
    branches: [ main ]

env:
  # dev/test の gem もインストールする（空文字で全部入れる）
  BUNDLE_WITHOUT: ""

jobs:
  lint:                      # CI / lint (pull_request)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2.2'
          bundler-cache: true
      - name: Show versions (debug)
        run: |
          ruby -v
          bundle -v
          bundle list | grep -E 'rubocop|brakeman' || true
      - name: RuboCop
        run: bundle exec rubocop --parallel

  scan_ruby:                 # CI / scan_ruby (pull_request)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: '3.2.2'
          bundler-cache: true
      - name: Brakeman
        run: bundle exec brakeman -q -w2 --no-pager

  scan_js:                   # いまは未使用なのでスキップ
    if: false
    runs-on: ubuntu-latest
    steps:
      - run: echo "JS lint is disabled for now"
